{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="content">
    <h2 class="title" id="current-section">Home</h2>

    <div class="scene" id="proxy-trigger">
      <div id="cube" class="cube">
        <a href="#home" class="js-cube-face cube__face cube__face--front">
          <span class="cube__heading">Home</span>
        </a>
        <a href="#work" class="js-cube-face cube__face cube__face--right">
          <span class="cube__heading">Work</span>
        </a>
        <a href="#about" class="js-cube-face cube__face cube__face--back">
          <span class="cube__heading">About</span>
        </a>
        <a href="#contact" class="js-cube-face cube__face cube__face--left">
          <span class="cube__heading">Contact</span>
        </a>
        <a href="#top" class="cube__face cube__face--top">
          <span class="cube__heading">Top</span>
        </a>
        <a href="#bottom" class="cube__face cube__face--bottom">
          <span class="cube__heading">Bottom</span>
        </a>
      </div>
      <div class="cube__proxy" id="proxy"></div>
    </div>
  </div>

{% endblock %}
