.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  text-transform: uppercase;
  transform: translateZ(-$cube-size/2);
}

.cube__proxy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.cube__heading {
  font-size: rem(32);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;  
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  text-decoration: none;
  font-weight: 900;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ($cube-size/2); }
.cube__face--right  { transform: rotateY( 90deg) translateZ($cube-size/2); }
.cube__face--back   { transform: rotateY(180deg) translateZ($cube-size/2); }
.cube__face--left   { transform: rotateY(-90deg) translateZ($cube-size/2); }
.cube__face--top    { transform: rotateX( 90deg) translateZ($cube-size/2); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ($cube-size/2); }
